<%= fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggies"] %>

<h1>I love tacos!</h1>
<ul>
    <% for filling in fillings %>
        <li><%= filling %></li>
    <% end %>
</ul>

<p>Currently there are <%= fillings.size %> kinds of tacos</p>

<!-- example comment -->
<%
# also an example of a comment
%>